h1{
    color: #53d4db;
}

#d1{
    color: rgb(148, 194, 103);
    text-align: right;
}

.c{
    color: hsl(259, 66%, 59%);
    text-align: center;

}
p{
    color:rgb(138, 138, 215);
}
/* .c1{
    background-color: aqua;
} */
/* .c2{
    background-color: burlywood;
} */
body{
    background-color: gray;
}
div{
    background-color: black;
}
#d2{
    background-color: cadetblue;
}
/*  tag selectors  */

/* tagname selector */
/* id selector # */
/* class selector . */
