@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Anton&family=Barlow+Condensed:wght@100&family=Beau+Rivage&family=Bebas+Neue&family=BhuTuka+Expanded+One&family=Caveat&family=Codystar:wght@300&family=Comforter&family=Corinthia:wght@700&family=Dancing+Script:wght@400;700&family=Foldit&family=Francois+One&family=Ingrid+Darling&family=Island+Moments&family=Kablammo&family=Licorice&family=Lobster&family=Luxurious+Script&family=Marck+Script&family=Meddon&family=Meow+Script&family=Mr+Dafoe&family=Mynerve&family=Nabla&family=Neonderthaw&family=PT+Sans+Narrow&family=Pacifico&family=Passions+Conflict&family=Righteous&family=Rouge+Script&family=Rubik+80s+Fade&family=Rubik+Dirt&family=Rubik+Distressed&family=Rubik+Iso&family=Rubik+Marker+Hatch&family=Rubik+Maze&family=Rubik+Moonrocks&family=Smokum&family=Splash&family=Square+Peg&family=Syne+Mono&family=Syne+Tactile&family=Tangerine&family=Tilt+Prism&family=Updock&family=Vujahday+Script&display=swap');
div{
    height: 554px;
    width: 22%;
    background-color: black;
    color: white;
    border: white 3px solid;
    float: left;
    padding: 10px;
}
img{
    width: 100%;
    height: 200px;
}
h1{
    text-align: center;
    font-family: 'Vujahday Script', cursive;
}
p{
    font-size: large;
    font-family: 'Neonderthaw', cursive;
}

/* 
book gallery
book name
image
author name
description
 */

 /* 2 rows with 3 div  */